.banner {
    height: 70vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, #0f0f0f, rgba(255, 255, 255, 0));
    }
}

.movie__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    position: relative;
    padding: 0 2rem;
    margin-bottom: 5rem;

    @media screen and (max-width: 768px) {
        margin-top: -450px;
    }

    .content__poster {
        // flex: 1;
        width: 30%;

        @media screen and (max-width: 768px) {
            display: none;
        }

        .poster__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            padding-top: 150%;
        }
    }

    .content__info {
        width: 70%;
        padding-left: 2rem;
        position: relative;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding-left: 0;
        }

        .container {
            box-sizing: border-box;
        }

        h1 {
            font-size: 3rem;
            line-height: 1;
            margin-bottom: 2rem;

            .release__year {
                font-weight: 400;
            }
        }

        .genres {
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            span {
                // margin-left: 0.5rem;
                padding: 0.5rem 1.5rem;
                border: 1px solid #fff;
                border-radius: 20px;
                font-size: 0.8rem;
                font-weight: 500;
                background-color: #0f0f0f;
            }
        }

        .row {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            gap: 2rem;

            .movie__rating {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            .watch__now {
                a {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    width: fit-content;
                }
            }
        }

        p {
            margin-bottom: 2rem;
            line-height: 1.5;

            &.tagline {
                margin-bottom: 0.5rem;
            }
        }

        .release{
            >p{
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}

.bottom__content {

    // max-width: 1260px;
    // margin-left: auto;
    // margin-right: auto;
    .mx-w760 {
        max-width: 760px;
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;

        @media screen and (max-width:768px) {
            padding-left: 2rem;
        }
    }

    .trailer__section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem !important;
    }

    .section {
        padding: 0 2rem;
        margin-bottom: 3rem;

        .section__header {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            @media screen and (max-width:768px) {
                display: block;
            }
        }
    }
}