.profile {
    margin: 5rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 768px) {
        padding: 0;
    }

    .profile__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profile__inner{
            display: flex;
            flex-direction: column;
        }
    }
}