.section {
    padding: 0 2rem;
    margin-bottom: 3rem;

    .search__container{}
    .movie__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 20px;
        margin-bottom: 3rem;

        @media screen and (max-width:1024px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
    }

    .load__more{
        text-align: center;
    }
}
