    .movie__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 20px;
        margin-bottom: 3rem;

        @media screen and (max-width:1024px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }

        .skeleton__card{
            padding-top: 160%;
        }
    }

    .load__more {
        text-align: center;
    }
