.home__container{
    @media screen and (max-width: 768px) {
        margin-top: 6rem;
    }

    .section{
        padding: 0 2rem;
        margin-bottom: 3rem;

        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            .time__window{
                button{
                    background: #fff;
                    color: black;
                    &.active{
                        background: #ff0000;
                        color: #fff;
                    }
                }
            }
        }
    }
}