.footer {
    background-color: rgba(0, 0, 0, 0.486);
    backdrop-filter: blur(10px);
    position: relative;
    padding: 6rem 2rem;
    
    &__content{
        max-width: 1000px;
        margin: auto;

        .content__logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3rem;
        }
        .content__menu{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            .menu__list{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                margin-top: 1rem;
                font-weight: 600;
                a{
                    margin-top: 1rem;
                }
            }
        }
    }
}