.search{
    width: 100%;
    max-width: 500px;
    position: relative;
    display: flex;
    align-items: center;

    input{
        width: 100%;
        padding-right: 7rem !important;
        background: #000;
        color: #fff;
        border: none;
        padding: 0.5rem 1.8rem;
        border-radius: 20px;
    }
    button{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.search__results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;

    @media screen and (max-width:1024px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}